{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Bitmex</title>
	<!--------------------------------------Fonts-------------------------------------->
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<!--------------------------------------All Logo-------------------------------------->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<!--------------------------------------Latest CDN-------------------------------------->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script><!--------------------------------------CSS Link-------------------------------------->
	<link rel="stylesheet" href="{% static 'home/bitmex.css' %}">
</head>
<body>
<!--------------------------------------navbar SECTION-------------------------------------->
	<section id="navbar-section">
		<div class="container">
		<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
				aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent-333">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
					<a class="nav-link" href="http://127.0.0.1:9000/">Home
					</a>
					</li>
					<li class="nav-item active">
					<a class="nav-link" href="">Bitmex</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#">Python</a>
					</li>
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">Projects
					</a>
					<div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
					</div>
					</li>
				</ul>
			<ul class="navbar-nav ml-auto nav-flex-icons">
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
				<i class="fas fa-user"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				</div>
				</li>
			</ul>
			</div>
		</nav>
		</div>
	</section>
<!--------------------------------------first SECTION-------------------------------------->
	<section id="home-title">
		<div class="container">
			<div class="row align-items-start">
				<div class="col">
					<h1>Devinfo</h1>
					<h4>Rest API Reading with Python and Views With Django</h4>
				</div>
			</div>
		</div>
	</section>
<!--------------------------------------Second SECTION-------------------------------------->
	<section id="home-title">
	<div class="container">
	
	<div class="row align-items-start">

	<div class="card">
	<div class="text-white text-center py-2 px-4 my-2">
		<h2 class="card-title">Last Price in Bitmex</h2>
		<table class="table table-striped">
		<tbody>
			<tr>
			<td>Bitcoin</td>
			<td>//////</td>
			</tr>
			<tr>
			<td>Cardano</td>
			<td>//////</td>
			</tr>
		</tbody>
		</table>
	</div>
	</div>

	<div class="card">
	<div class="text-white text-center py-2 px-4 my-2">
		<h2 class="card-title">Chat Box in Bitmex</h2>
		<table class="table table-striped">
		<tbody>
			<tr>
			<td>Bitcoin</td>
			<td>//////</td>
			</tr>
			<tr>
			<td>Cardano</td>
			<td>//////</td>
			</tr>
		</tbody>
		</table>
		</div>
	</div>
	
	</div>
	</div>	
	</div>	
	</div>
	</section>
<!--------------------------------------card SECTION-------------------------------------->
<section id="home-title">
		<div class="container">
			<div class="row">
				<div class="col">
				<div>
				<h3>REST API</h3>
				<p>Read Data and Last Price from Bitmex, Also With Rest API read ChatBox</p>
				<ul style="color: #CCCCCC;">	
					<li>Read ChatBox and filter just these characters</li>
					<li>up, down, long, short</li>
				</ul>
				<p></p>
				</div>
				</div>
				<div class="col">
				<h3>DJANGO</h3>
				<p>with url and views just show these data intries :</p>
				<ul style="color: #CCCCCC;">	
					<li>Read ChatBox and filter just these characters</li>
					<li>up, down, long, short</li>
				</ul>
				</div>
				</div>
			</div>
		</div>
		</div>
	</section>
<!--------------------------------------footer SECTION-------------------------------------->
	<section id="footer-end">
	<footer class="page-footer text-center">
		<hr class="homeline"></hr>
		<a style="color: #CCCCCC; font-size: 12px;">© 2018 Copyright: devinfo.ir</a>
	</footer>
	</section>
<!--------------------------------------End SECTION-------------------------------------->
</body>
</html>
