{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Portfolio Home Page</title>

	<!--------------------------------------Fonts-------------------------------------->
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<!--------------------------------------All Logo-------------------------------------->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<!--------------------------------------Latest CDN-------------------------------------->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script><!--------------------------------------CSS Link-------------------------------------->
	<link rel="stylesheet" href="{% static 'home/home.css' %}">
</head>
<body>
<!--------------------------------------navbar SECTION-------------------------------------->

<!--------------------------------------first SECTION-------------------------------------->
	<section id="home">
		<div class="container">
			<div class="row left-xs left-sm left-md left-lg">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h1>Devinfo</h1>
					<h4>Founder is :</h4>
					<p id="about-me">Shervin Hariri</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h2>Projects</h2>
				<ul></ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h2>Experience</h2>
				<ul>
					<li>one</li>
					<li>two</li>
				</ul>
			</div>
		</div>
	</section>
<!--------------------------------------Second SECTION-------------------------------------->
	<section>
		<div class="container">
			<div class="row left-xs left-sm left-md left-lg">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div>
						<h3>Hi, I'm Shervin</h3>
						<p>I am Brian fusce quis volutpat porta, ut tincidunt eros est nec diam erat quis volutpat porta, neque massa, ut tincidunt eros est nec diam Fusce Fusce quis volutpat porta, ut tincidunt eros est nec diam erat quis volutpat porta, neque massa, ut tincidunt eros est nec diam Fusce Fusce quis volutpat porta, ut tincidunt eros est nec diam erat quis volutpat porta, neque massa, ut tincidunt eros est nec diam Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
						<ul class="about-social">
							<li><a href="https://www.linkedin.com/in/shervinhariri/"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="https://www.linkedin.com/in/shervinhariri/"><i class="fab fa-google-plus-square"></i></a></li>
						</ul>
						</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h3>My Skills</h3>
					<p>Python</p>
					<div class="skillbar">
						<div class="skillbar-bar" style="width: 20%;"></div>
					</div>

					<p>Cisco</p>
					<div class="skillbar">
						<div class="skillbar-bar" style="width: 40%;"></div>
					</div>

					<p>Web HTML</p>
					<div class="skillbar">
						<div class="skillbar-bar" style="width: 8%;"></div>
					</div>

				</div>
			</div>
			</div>
		</div>
	</section>
<!--------------------------------------End SECTION-------------------------------------->
	<div class="container ">
		<div class="footer">
			<p>Connect with me</a></p>
		</div>
	</div>

</body>
</html>
