BODY {
	background: #282931;
}
h1 {
	font-family: 'Indie Flower', cursive;
	color: #1E7A99;
	  font-size: 55px;
	margin-top: 40px;
}
h2 {
	font-family: 'Indie Flower', cursive;
	color: #8EB7CC;
}
h3 {
	font-family: 'Indie Flower', cursive;
	color: #A3CCCC;
}
h4 {
	font-family: 'Indie Flower', cursive;
	color: #A3CCCC;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}
p {
	color: #CCCCCC;
	font-size: 15px;
	font-family: 'Varela Round', sans-serif;
}
hr.homeline {
	margin-bottom: 0px;
	border: 1px solid #555560;
	width: 30%;
}
h2.card-title {
	font-family: 'Indie Flower', cursive;
	color: #1E7A99;
	font-size: 27px;
	margin-top: 50px;
}
h2.card-weather {
	font-family: 'Indie Flower', cursive;
	color: #CCCCCC;
	font-size: 20px;
	margin-top: 30px;
}
hr.cardline {
	border: 1px solid #555560;
	width: 80%;
}
p.card-text {
	color: #CCCCCC;
	font-size: 13px;
	font-family: 'Varela Round', sans-serif;
}
p.skill-name{
	margin-top: 30px;
}
.card {
	background-color: #596C7F;
	margin: auto;
}
tr {
	color: #CCCCCC;
	font-size: 20px;
	font-family: 'Indie Flower', cursive;
}
<!--------------------------------------skill SECTION-------------------------------------->
.skillbar {
  display: inner-block;
}
.skillbar-bar:before {
  background: #CCCCCC;
  content: "";
  height: 3px;
  position: absolute;
  width: 50%;
  z-index: -1;
}
.skillbar-bar {
  height: 3px;
  background: #1E7A99;
}
